In [1]:
#dataframes are the workhouse of pandas
#directly inspired by R programming language
#we can think of dataframe as a bunch of series objects put together

In [2]:
#creating a dataframe

In [3]:
import numpy as np
import pandas as pd

In [4]:
from numpy.random import randn

In [5]:
df=pd.DataFrame(randn(5,4),index="A B C D E".split(),columns="W X Y Z".split())

In [6]:
df

          W         X         Y         Z
A -0.025060  0.393418 -1.524235  1.246854
B -0.308087 -0.238219 -0.416758  0.984765
C -0.704279 -0.126705 -0.906892  1.183118
D -1.755777 -0.358113 -0.054191  0.519434
E -1.359424 -0.875605 -0.783562  0.315047

In [7]:
#selecting a row

In [8]:
df["A"] #use index to select a row

KeyError: 'A'

In [9]:
#this will give an error, we will discuss the use of loc and iloc later 
#for selection of rows

In [10]:
#but we can select columns using column name

In [11]:
df["X"]

A    0.393418
B   -0.238219
C   -0.126705
D   -0.358113
E   -0.875605
Name: X, dtype: float64

In [ ]:
#selec