In [1]:
#conditional selection

In [2]:
#an important feature of pandas is conditional selection using bracket
#notatioj , very similar to numpy

In [3]:
#we know that a conditional operator always returns a true or false

In [4]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [5]:
df=pd.DataFrame(randn(3,3),index=["a","b","c"],columns=["d","e","f"])

In [6]:
df

          d         e         f
a  1.243553  0.883345  0.743067
b  0.784565  0.199645 -1.789161
c  0.961932  0.718598  0.120284

In [7]:
df>1

       d      e      f
a   True  False  False
b  False  False  False
c  False  False  False

In [8]:
#what if we want values?

In [10]:
df[df>1]

          d   e   f
a  1.243553 NaN NaN
b       NaN NaN NaN
c       NaN NaN NaN

In [11]:
#now what if we want to check a particular column only

In [13]:
df[df["d"]>1]

          d         e         f
a  1.243553  0.883345  0.743067

In [18]:
#what if we want a particular column and row ie a cell in this case

In [19]:
df[df["d"]>1]["e"]

a    0.883345
Name: e, dtype: float64