In [1]:
#pivot table----> multi index table

In [2]:
#we are basically trying to create a multi-index table from a normal
#dataframe

In [3]:
#lets create a normal dataframe first

In [4]:
import pandas as pd

In [5]:
data={"A":["foo","foo","foo","bar","bar","bar"],"B":["one","one","two","two","one","one"],"C":["x","y","x","y","x","y"],"D":[1,3,2,5,4,1]}

In [6]:
df=pd.DataFrame(data)

In [7]:
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [8]:
#lets make a pivot table